body{
    text-align: center;
}

.main{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

.card{
    width: 600px;
}

.like{
    width: 30px;
}

.avatar{
    border-radius: 50%;
    width: 50px;
}

.form{
    text-align: center;
}

.rightnav{
    justify-content: flex-end;
}

@media(max-width: 615px){
    .card{
        width: 98%;
    }
}